:root {
	--color-orange: #ffa728;
	--color-red: #e66c6e;
	--color-green: #a7d6bb;
	--color-blue: #1c4961;
  }
  
  *,
  *::after,
  *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	display: flex;
	flex-wrap: wrap;
	max-width: 300px;
	margin: 80px;
  }
  
  .card {
	
	text-align: center;
	transition: 0.5s all;
  }
  
  .header {
	padding: 20px 0;
	margin-bottom: 28px;
  }
  
  .filter {
	display: flex;
	justify-content: left;
	max-width: 1024px;
	margin: 0 auto;
  }
  
.btn_q {
	display: inline-block;
	margin: 6px;
	width: 20px;
	height: 20px;
	background: rgb(7, 182, 185);
	cursor: pointer;
	border-radius: 50%;
  
}

.btn_q:hover {
	background-color: rgb(14, 14, 14);
}

.btn {
    display: inline-block;
	padding: 10px 30px;
	border: none;
	background: rgb(43, 43, 43);
	border-radius: 10px;
	color: #fff;
    font-weight: 700;
	width: 130px;
	height: 38px;
	transition: background .2s linear;
	position: center;
	margin: 7px;
}




.btn:hover {
	background-color: rgb(7, 182, 185);
}

.button {
    display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(43, 43, 43);
	border-radius: 10px;
	color: #fff;
    font-weight: 400;
	width: 100px;
	height: 38px;
	transition: background .2s linear;
	position: left;

}



.button:hover {
	background-color: rgb(7, 182, 185);
}
  
  .anime {
	transform: scale(0);
	opacity: 0;
  }
  
  .hide {
	animation-name: hide;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
  }
  
  @keyframes hide {
	0% {
	  visibility: visible;
	  height: 200px;
	}
	100% {
	  visibility: hidden;
	  width: 0;
	  height: 0;
	  max-width: 0;
	  font-size: 0;
	  margin: 0;
	}
  }

  
.img {
    width: 70px;
}

.item {
	text-align: center;
}

.price {
	color: #00D2D3;
	text-align: right;
}

.name {
	position: left;
    font-family: 'IQOS';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 15px;

color: #000000;
}
  
